/* --------- GENERAL ---------*/
body {
    font-family: "Inter", sans-serif !important;
}

/* --------- NAVBAR ---------*/
.navbar {
    background-color: #D84A8E !important;
}
.navbar-nav {
    justify-content: space-evenly;
    width: 100%;
}
.navbar a {
    color: white;
}
.navbar-toggler {
    border: none !important;
}
.navbar-toggler > span {
    color: white !important;
}
/*-- pick a thing --*/
.navbar a:hover {
    color: white;
}
.shift-right {
    margin-left: auto;
}
.navbar-brand {
    padding-left: 2rem;
    font-weight: bold;
}
.nav-link {
    font-weight: bold !important;
    font-size: 1.2rem !important;
}