/* ---------------------------------- GENERAL ---------------------------------_*/
body {
    font-family: "Inter", sans-serif !important;
}
.pink {
    color:#D84A8E;
}
.mint {
    color: #71CBB5;
}
/* ---------------------------------- NAVBAR ---------------------------------_*/
.navbar {
    background-color: #D84A8E !important;
}
.navbar-nav {
    width: 100%;
}
.navbar a {
    color: white;
}
.navbar-toggler {
    border: none !important;
}
.navbar-toggler > span {
    color: white !important;
}
.shift-right {
    margin-left: auto;
}
.navbar-brand {
    padding-left: 2rem;
    font-weight: bold;
}
.nav-link {
    justify-content: end;
    font-weight: bold !important;
    font-size: 1.2rem !important;
    padding: 0 1.3em 0 1.3rem !important;
}
/* ---------------------------------- HERO ---------------------------------_*/
.hero {
    background-image: url("/images/cupcake-hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
    height: 60vh;
}
/* Dark overlay */
.hero::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 60%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha (last) value to change the darkness */
    z-index: 1;
  }
.hero .btn {
    background-color: #71CBB5 !important;
    z-index: 2;
    top: 45%;
    position: relative;
}
/* ---------------------------------- CARDS ---------------------------------_*/
.card-img {
    border-radius: 50px !important;
    height: 25rem;
}
.card {
    width: 18rem;
    margin: auto;
    border: none !important;
}
.card-title{
    text-decoration: none !important;
    text-align: center;
}
.card-link {
    text-decoration: none;
    color: black;
}
.card-row {
    margin-bottom: 5rem;
}
/* ---------------------------------- EVENTS ---------------------------------*/
.events {
    background-color: #BCF5E8;
}
.events button {
    background-color: #D84A8E;
}
.event-img {
    width: 5rem;
}
.rounded-circle {
    width: 8rem;
    height: 8rem;
}

/* ---------------------------------- GLUTEN-FREE + VEGAN ---------------------------------*/
.img-dietary {
    height: 10rem;
}
.dietary {
    background-color: #FFE8F3;
    padding: 5rem;
}
.dietary > div > a {
    color: black;
}
/* ---------------------------------- CALLOUT ---------------------------------*/
.callout {
    border-left: 20px solid #71CBB5;
    border-radius: 20px;
    padding: 2rem 0;
    background-color: #F5F5F5;
    width: fit-content;
}
.callout p, .callout a {
    margin-left: 2rem;
}
/* ---------------------------------- MENU ---------------------------------*/
.menu {
    margin-bottom: 3rem;
}
.menu h3 {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 1.2rem;
}
.menu h2 {
    margin-bottom: 2rem;
}
.menu-event {
    background-color: #FFE8F3;
    padding: 5rem 0;
}
.menu-event > button {
    background-color: #71CBB5;
}
/* ---------------------------------- CONTACT FORM ---------------------------------*/
.message-btn {
    background-color: #71CBB5 !important;
}

/* ---------------------------------- FOOTER ---------------------------------*/
footer {
    background-color: black;
}
table, td{
    background-color: black !important;
    color: white !important;
    border: none !important;
}
footer td {
    padding: 0 .5rem .1rem 0 !important;
}